.main-container{
margin: 10px;
width: 420px;
height: 550px;
margin-bottom: 100px;
    
}

.img-container img{
    height: 300px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 1px 3px 20px 1px;
}
.details{
    margin-top: 20px;
}

.book-now{
    width: 100px;
    margin-bottom: 100px;
    border: none;
    background-color: rgb(221, 205, 139);
    height: 50px;
    width: 110px;
    border-radius: 10px;
}

