.main-container{
margin: 10px;
width: 420px;
height: 650px;
margin-bottom: 100px;
box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
padding: 10px;
border-radius: 5px;

    
}

.img-container img{
    height: 300px;
    width: 400px;
}
.details{
    margin-top: 20px;
}

.book-now{
    width: 100px;
    margin-bottom: 100px;
    border: none;
    background-color: rgb(221, 205, 139);
    height: 50px;
    width: 110px;
    border-radius: 10px;
}

