.service-container{
    margin-top: 50px;
}


.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  
  @media only screen and (max-width: 600px) {
    .service-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }


  @media only screen and (min-width:601px) and (max-width: 800px) {
    .service-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }